:root{
  --glowgreen:#b4ff04;
  --ashblack:#282828;
}
body{
  background-color: var(--ashblack);
    /* background: radial-gradient(var(--ashblack),rgba(0,0,0,0.4)) center center fixed,url(resistor.png);
    background-size: cover; */
}

.app-container
{
    width:350px;
    height:auto; /*500px */
    padding:50px;
    margin:0 auto;
    background-color:rgba(0, 0, 0, 0.418);
    position:relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.r-details
{
    color:rgb(188, 212, 203);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
    justify-content: center;
    margin-top:50%;
}
#container-header
{
    justify-content: center;
    text-align: center;
}
#app-name
{
    color:yellowgreen;
    font-size: xx-large;
    
   
}
.rows
{
    height:20px;
    padding:10px;
    padding-bottom: 15px;
    border-bottom:0px solid #b4ff04;
}
.row-9
{
    height:auto;
    padding:10px;
    display: block;
    align-items: center;
    background-color: transparent;
}
#submit{
    width:80%;
    padding:10px;
    position:relative;
    border-radius: 10px;
    background-color: aliceblue;
    color:blueviolet;
    font-size: 15px;
    border:none;
    padding: 10px;
    justify-content: center;
    margin-left: 10%;
    user-select: none;
}
#submit:hover{
    background-color: #b4ff04;
    color:rgb(28, 9, 41);
}
#output
{
    width:140px;
    padding:2px;
}
.labels
{
    display:inline;
    float:left;
    color:rgb(7, 204, 171);
    width:50px;
    height:20px;
}
.option-values
{
    width:150px;
    padding:5px;
    margin-top:-12px;
    background-color:transparent;
    border:2px solid rgb(7, 204, 171);
    color:yellowgreen;
    border-radius: 5px;
    
}

.values-wrapper
{
    display:inline;
    position:relative;
    float:left;
    margin-left:80px;
}
